.icono--instagram {
  background-color: red; }

.icono--facebook {
  background-color: blue; }

.header {
  width: auto;
  background-color: #EA5C2B;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  .header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center center;
    align-items: center center; }
    .header .logo h1 {
      text-align: end;
      color: black; }
  .header nav a:hover {
    color: white; }

.icono--instagram {
  background-color: red; }

.icono--facebook {
  background-color: blue; }

h2 {
  color: black;
  background-color: #FF7F3F;
  font-size: 2rem;
  text-align: center;
  border-bottom: solid black 2px;
  border-top: solid black 2px;
  width: 100%;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

h3 {
  color: black;
  background-color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px; }

p {
  color: black;
  background-color: #F6D860;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 24px;
  border: solid black 2px;
  margin: 40px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif; }

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  background-color: #95CD41;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

@media screen and (min-width: 768px) {
  .header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header .logo img {
      width: 150px;
      height: 120px;
      text-align: center; }
    .header .logo p {
      text-align: center;
      font-size: 40px; }
  .textoInicio p {
    width: 50%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.inicio {
  background-image: url(/img/img-pagina/banner-inicio.jpg); }

.empresa {
  width: 100%;
  background-image: url(/img/img-pagina/banner-empresa.jpg);
  justify-content: center;
  align-content: center; }
  .empresa .empresaSeccion {
    margin: 20px; }
    .empresa .empresaSeccion .empresaTexto p {
      border-radius: 20px; }
    .empresa .empresaSeccion .empresaCarrusel {
      margin: 10px; }

.pedido {
  background-image: url(/img/img-pagina/fondo-pedidos.jpg); }
  .pedido .seccionPedido {
    margin-bottom: 50px; }

.productos {
  background: linear-gradient(#f3e2d5, #5f514b); }
  .productos .card-body ul {
    list-style: none; }
    .productos .card-body ul li {
      text-align: start;
      font-size: 1rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.contacto {
  background-image: url(/img/img-pagina/fondo-contacto.jpg); }
  .contacto .contactoSeccion {
    display: flex;
    flex-direction: column; }
    .contacto .contactoSeccion .contactoSeccionDiv {
      background-color: #f7e396;
      border-radius: 8px;
      border: solid black 1px; }
      .contacto .contactoSeccion .contactoSeccionDiv .cajaContacto {
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        flex-direction: column; }
        .contacto .contactoSeccion .contactoSeccionDiv .cajaContacto .cajaContacto-redes {
          border-radius: 22px;
          justify-content: space-around; }
