@import "fuentes";


.header {
    width: auto;
    background-color: #EA5C2B;
    font-family: $fontfamily1;

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center center;
        align-items: center center;

        h1 {
            text-align: end;
            color: black;
        }
    }

    nav a:hover {
        color: white;
    }
}