@import "fuentes";

@mixin colorYtam($argumento1, $argumento2, $argumento3,$argumento4) {
    color: $argumento1;
    background-color: $argumento2;
    font-size: $argumento3;
    text-align: $argumento4;
}

h2 {
    @include colorYtam(black, #FF7F3F, 2rem, center);
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    width: 100%;
    padding: 10px;
    font-family: $fontfamily1;
}

h3 {
    @include colorYtam(black,#FFF , 1.2rem ,center );
    padding: 5px;
}

p {
    @include colorYtam(black,#F6D860 , 1.2rem ,center );
    border-radius: 24px;
    border: solid black 2px;
    margin: 40px;
    padding: 8px;
    font-family: $fontfamily3;
}