@import "fuentes";
h2 {
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    width: 100%;
    color: black;
    background-color: #FF7F3F;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    font-family: $fontfamily1;
}

h3{
    color: black;
    font-size: 1.1rem;
    padding: 5px;
}

p {
    border-radius: 24px;
    border: solid black 2px;
    margin: 40px;
    padding: 8px;
    color: black;
    background-color: #F6D860;
    font-size: 1.2rem;
    text-align: center;
    font-family: $fontfamily3;
}