*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{  
    height: 100vh;
    background-image: url(/img/img-pagina/banner-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .header{
        width: auto;
        background-color: #EA5C2B;
        .logo{
            display: flex;
            flex-direction: row;
            justify-content: center center;
            align-items: center center;
            h1{
                text-align: end;
                color: black;
            }
        }
    }
    .textoInicio{
        h2{
            border-bottom: solid black 2px;
            border-top: solid black 2px;
            width: 100%;
            color: black;
            background-color: #FF7F3F;
            font-size: 23px;
            padding: 10px;
            text-align: center;
        }
        p{
            border-radius: 24px;
            border: solid black 2px;
            margin :40px;
            padding: 8px;
            color: black;
            background-color: #F6D860;
            font-size: 1.1em;
            text-align: center ;
        }
    }
    footer{
        width: 100%;
        bottom: 0;
        position: fixed;
        text-align: center;
        background-color: #95CD41;
    }



    @media screen and (min-width: 768px) {
        .header{
            .logo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                img{
                    width: 150px;
                    height: 120px;
                    text-align: center;
                }
                p{
                    text-align: center;
                    font-size: 40px;
                }
            }  
        }
        .textoInicio{
            p{
                width: 50%;
            }
        }
    }
} 

