@import "header";
@import "titulos";
@import "footer";
@import "body";
@import "mediaqueris";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    background-image: url(/img/img-pagina/banner-inicio.jpg);
}

.empresa {
    width: 100%;
    background-image: url(/img/img-pagina/banner-empresa.jpg);
    justify-content: center;
    align-content: center;

    .empresaSeccion {
        margin: 20px;

        .empresaTexto p {
            border-radius: 20px;
        }

        .empresaCarrusel {
            margin: 10px;
        }
    }
}

.pedido {
    background-image: url(/img/img-pagina/fondo-pedidos.jpg);

    .seccionPedido {
        margin-bottom: 50px;
    }
}

.productos {
    background: linear-gradient(#f3e2d5, #5f514b);

    .card-body {
        ul {
            list-style: none;

            li {
                text-align: start;
                font-size: 1rem;
                font-family: $fontfamily1;
            }

        }
    }
}

.contacto {
    background-image: url(/img/img-pagina/fondo-contacto.jpg);

    .contactoSeccion {
        display: flex;
        flex-direction: column;

        .contactoSeccionDiv {
            background-color: #f7e396;
            border-radius: 8px;
            border: solid black 1px;

            .cajaContacto {
                font-size: 1.2rem;
                text-align: center;
                display: flex;
                flex-direction: column;

                .cajaContacto-redes {
                    justify-content: space-around;
                }
            }
        }
    }
}